# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/Podfile.lock

# IDEs
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db
